<!DOCTYPE html>
<html lang="en">

<head>
     <title>Chemini</title>


     <!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='templatemo-style.css') }}">

</head>

<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" class="navbar-brand">Chemini</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">About</a></li>
                         <li><a href="#blog" class="smoothScroll">key features</a></li>
                         <li><a href="#contactus" class="smoothScroll">Contact</a></li>
                    </ul>

               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1>Revolutionizes Idea Evaluation : Harnessing AI for Intelligent Innovation</h1>
                              <div class="initial-content">
                                   <a href="/ValidateOne" class="btn section-btn smoothScroll">Validate One Idea</a>
                                   <a href="/ValidateMultiple" class="btn section-btn smoothScroll">Validate Multiple
                                        Ideas</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="home-video">
                              <div class="embed-responsive embed-responsive-16by9">
                                   <iframe src="#" frameborder="0"
                                        allowfullscreen></iframe>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-6" style="margin-top: -4%;">
                         <div class="about-info">
                              <div class="section-title">
                                   <h2>About Chemini</h2>
                                   <span class="line-bar">...</span>
                              </div>
                              <p>Chemini is an advanced collaborative platform that leverages AI to facilitate real-time
                                   discussions for refining ideas. Users can customize metrics on-the-fly, ensuring
                                   efficient batch validation of ideas. The tool incorporates moonshot detection to
                                   emphasize groundbreaking concepts, and its user-friendly interface allows easy
                                   navigation and result sharing. Beyond idea validation, Chemini fosters a
                                   collaborative environment for ongoing improvement and innovation.</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="margin-top: -7%;">
                         <div class="about-info skill-thumb">

                              <strong>Idea Validation</strong>
                              <span class="pull-right">90%</span>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                              </div>

                              <strong>Lazy Idea Detection</strong>
                              <span class="pull-right">80%</span>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                              </div>

                              <strong>Moonshot Recognition</strong>
                              <span class="pull-right">70%</span>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                              </div>

                              <strong>Customizable Criteria</strong>
                              <span class="pull-right">100%</span>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>
                              <strong>User-Friendly Interface</strong>
                              <span class="pull-right">85%</span>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                              </div>
                              <strong>Chat Functionality with AI</strong>
                              <span class="pull-right">95%</span>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="95"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                              </div>


                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="about-image">
                              <img src="{{ url_for('static', filename='images/about-image.png') }}"
                                   class="img-responsive" alt="">
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- BLOG -->
     <section id="blog" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Our key features</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <img src="{{ url_for('static', filename='images/blog-image1.jpg') }}"
                                        class="img-responsive" alt="">
                              </div>
                              <div class="media-body blog-info">
                                   <h3>Automated Evaluation</h3>
                                   <p>Automatically score and filter ideas based on user-defined metrics.</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <img src="{{ url_for('static', filename='images/blog-image2.jpg') }}"
                                        class="img-responsive" alt="">
                              </div>
                              <div class="media-body blog-info">
                                   <h3>Lazy Idea Detection</h3>
                                   <p>Identify and flag suboptimal ideas, saving time for human evaluators.</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <img src="{{ url_for('static', filename='images/blog-image3.jpg') }}"
                                        class="img-responsive" alt="">
                              </div>
                              <div class="media-body blog-info">
                                   <h3>Moonshot Recognition</h3>
                                   <p>Highlight ambitious and groundbreaking ideas for further consideration.</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <img src="{{ url_for('static', filename='images/blog-image4.jpg') }}"
                                        class="img-responsive" alt="">
                              </div>
                              <div class="media-body blog-info">
                                   <h3>Customizable Criteria</h3>
                                   <p>Allow users to define metrics, descriptions, and importance levels for
                                        evaluations.</p>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- FOOTER -->
     <footer id="contactus" data-stellar-background-ratio="0.5" ">
          <div class=" container">
          <div class="row">

               <div class="col-md-5 col-sm-12">
                    <div class="footer-thumb footer-info">
                         <h2>Chemini team</h2>
                         <p>Chemini revolutionizes idea evaluation with a web-based platform, powered by generative AI,
                              seamlessly scoring, filtering, and ranking problem-solution pairs based on user-defined
                              metrics, while also identifying lazy pitches and groundbreaking moonshots.</p>
                    </div>
               </div>

               <div class="col-md-2 col-sm-4">
                    <div class="footer-thumb">
                         <h2>Team</h2>
                         <ul class="footer-link">
                              <li><a href="https://www.linkedin.com/in/said-et-tousy/" target="_blank">Member 1: Said
                                        ET-TOUSY</a></li>
                              <li><a href="https://www.linkedin.com/in/said-et-tousy/" target="_blank">Member 2:
                                        Soufiane Ait El Aouad</a></li>
                         </ul>
                    </div>
               </div>

               <div class="col-md-3 col-sm-4">
                    <div class="footer-thumb">
                         <h2>Find us</h2>
                         <p>Mohammed VI Polytechnic University, <br> Lot 660, Hay Moulay Rachid Ben Guerir, 43150</p>
                    </div>
               </div>

               <div class="col-md-12 col-sm-12">
                    <div class="footer-bottom">


                         <div class="container">
                              <div class="row">
                                   <div class="col-md-6 col-sm-6">
                                        <div class="phone-contact">
                                             <p>Call <strong>Said</strong> <span>(+212) 645677830</span></p>
                                        </div>
                                        <a href="https://www.linkedin.com/in/said-et-tousy/" target="_blank">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="#0072b1" class="bi bi-linkedin" viewBox="0 0 16 16">
                                                  <path
                                                       d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                                             </svg>
                                        </a>
                                   </div>
                                   <div class="col-md-6 col-sm-6">
                                        <div class="phone-contact" style="margin-left: 50px;">
                                             <p>Call <strong>Soufiane</strong> <span>(+212) 628941518</span></p>
                                        </div>
                                        <a href="https://www.linkedin.com/in/soufiane-ait-el-aouad/" target="_blank">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="#0072b1" class="bi bi-linkedin" viewBox="0 0 16 16">
                                                  <path
                                                       d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                                             </svg>
                                        </a>
                                   </div>

                              </div>


                         </div>
                    </div>

               </div>

          </div>
          </div>
     </footer>



     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.stellar.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.magnific-popup.min.js') }}"></script>
     <script src="{{ url_for('static', filename='smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='custom.js') }}"></script>


</body>

</html>