<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    
    <!-- MAIN CSS -->
    <title> Chemini</title>
</head>
<body>
    <div class="loader-container" id="loaderContainer">
        <svg  class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                    <stop offset="0%" stop-color="#5ebd3e" />
                    <stop offset="33%" stop-color="#ffb900" />
                    <stop offset="67%" stop-color="#f78200" />
                    <stop offset="100%" stop-color="#e23838" />
                </linearGradient>
                <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                    <stop offset="0%" stop-color="#e23838" />
                    <stop offset="33%" stop-color="#973999" />
                    <stop offset="67%" stop-color="#009cdf" />
                    <stop offset="100%" stop-color="#5ebd3e" />
                </linearGradient>
            </defs>
            <g fill="none" stroke-linecap="round" stroke-width="16">
                <g class="ip__track" stroke="#ddd">
                    <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                    <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                </g>
                <g stroke-dasharray="180 656">
                    <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                    <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                </g>
            </g>
        </svg>
      </div>
    <div class="container">
        <h1 style="font-size:40px;">Hey, I am Chemini &#128075;</h1>
        <h1 style="margin-top: -2%;">and I will be assisting you in <span style="color: rgb(104, 164, 195);">validating and rating business ideas</span></h1>
        
        <div class="idea-form">
        <form id="myForm" action="/submit" method="post" onsubmit="return validateForm1()">
        <h2 class="h2class" >Validate One Idea</h2>
        <div class="row">
            <div class="column1">
                <h2 class="prosol-title">Problem</h2>
                <textarea name="problem" id="problemTextarea" rows="4" cols="50" placeholder="Describe the problem here...">{{data.problem}}</textarea>
            </div>
            <div class="column1">
                <h2 class="prosol-title">Solution</h2>
                <textarea name="solution" id="solutionTextarea" rows="4" cols="50" placeholder="Describe the solution here...">{{data.solution}}</textarea>
            </div>
        </div>
        <div class="additional-section">
            <button type="button" onclick="fillTextAreas()">Quick test</button>
            <button type="button" onclick="clearTextAreas()">Clear</button>
        </div>
        <h2 class="metrics-title">Metrics</h2>
        <div class="card">
            <p>Feel free to incorporate various metrics along with their corresponding descriptions. You're allotted 20 points, allowing you to allocate them based on the significance each metric holds for you.</p>
        </div>
            <div class="row">
                {% set max_length = (default['metric']|length if default and 'metric' in default else 6) %}
                {% for i in range(1, max_length+1) %}
                    <div class="column" id="metricsContainer{{ i }}">
                        <div class="metric-container">
                            <div class="text-element">
                                <h4>Metric</h4>
                                <input name="metric{{ i }}" type="text" placeholder="Enter metric..." value="{{ default['metric'][i-1] }}">
                            </div>
                            <div class="text-element">
                                <h4>Weight</h4>
                                <input name="weight{{ i }}" type="number" placeholder="Enter weight..." value="{{ default['weight'][i-1] }}" min="0" max="20">
                            </div>
                            <div class="text-element">
                                <h4>Description</h4>
                                <textarea name="description{{ i }}" placeholder="Enter description...">{{ default['description'][i-1]}}</textarea>
                            </div>
                        </div>
                        <div class="add-metric-container">
                            <span class="add-metric" onclick="addMetric('metricsContainer{{ i }}')">+</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
        
        <button class="btn section-btn smoothScroll" type="submit" class="submit-button" onclick="submitForm1()">Check My Idea</button>
        <a href="/" class="btn section-btn smoothScroll">Go Back</a>
    </form>
</div>
    </div>
    
</body>
</html>
